.login-page {
  border-style: solid;
  border-color: black;
  border-width: 20px;
  background-image: url("../../../assets/bg.jpg");
  width: 100%;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  & > .form-box {
    border-radius: 10px;
    width: 25rem;
    height: 85%;
    background-color: black;
    opacity: 0.5;
  }
}
