@font-face {
  font-family: cerapro-thin;
  src: url(../../../assets/fonts/cerapro/Cera\Pro\Thin.otf);
}

@font-face {
  font-family: cerapro-thin-italic;
  src: url(../../../assets/fonts/cerapro/Cera\Pro\Thin\Italic.otf);
}

@font-face {
  font-family: cerapro-regular;
  src: url(../../../assets/fonts/cerapro/Cera\Pro\Regular.otf);
}

@font-face {
  font-family: cerapro-regular-italic;
  src: url(../../../assets/fonts/cerapro/Cera\Pro\Regular\Italic.otf);
}

@font-face {
  font-family: cerapro-medium;
  src: url(../../../assets/fonts/cerapro/Cera\Pro\Medium.otf);
}

@font-face {
  font-family: cerapro-medium-italic;
  src: url(../../../assets/fonts/cerapro/Cera\Pro\Medium\Italic.otf);
}

@font-face {
  font-family: cerapro-light;
  src: url(../../../assets/fonts/cerapro/Cera\Pro\Light.otf);
}

@font-face {
  font-family: cerapro-light-italic;
  src: url(../../../assets/fonts/cerapro/Cera\Pro\Light\Italic.otf);
}

@font-face {
  font-family: cerapro-bold;
  src: url(../../../assets/fonts/cerapro/Cera\Pro\Bold.otf);
}

@font-face {
  font-family: cerapro-bold-italic;
  src: url(../../../assets/fonts/cerapro/Cera\Pro\Bold\Italic.otf);
}

@font-face {
  font-family: cerapro-black;
  src: url(../../../assets/fonts/cerapro/Cera\Pro\Black.otf);
}

@font-face {
  font-family: cerapro-black-italic;
  src: url(../../../assets/fonts/cerapro/Cera\Pro\Black\Italic.otf);
}
