@font-face {
  font-family: cerapro-thin;
  src: url(../../assets/fonts/cerapro/CeraProThin.otf);
}

@font-face {
  font-family: cerapro-thin-italic;
  src: url(../../assets/fonts/cerapro/CeraProThinItalic.otf);
}

@font-face {
  font-family: cerapro-regular;
  src: url(../../assets/fonts/cerapro/CeraProRegular.otf);
}

@font-face {
  font-family: cerapro-regular-italic;
  src: url(../../assets/fonts/cerapro/CeraProRegularItalic.otf);
}

@font-face {
  font-family: cerapro-medium;
  src: url(../../assets/fonts/cerapro/CeraProMedium.otf);
}

@font-face {
  font-family: cerapro-medium-italic;
  src: url(../../assets/fonts/cerapro/CeraProMediumItalic.otf);
}

@font-face {
  font-family: cerapro-light;
  src: url(../../assets/fonts/cerapro/CeraProLight.otf);
}

@font-face {
  font-family: cerapro-light-italic;
  src: url(../../assets/fonts/cerapro/CeraProLightItalic.otf);
}

@font-face {
  font-family: cerapro-bold;
  src: url(../../assets/fonts/cerapro/CeraProBold.otf);
}

@font-face {
  font-family: cerapro-bold-italic;
  src: url(../../assets/fonts/cerapro/CeraProBoldItalic.otf);
}

@font-face {
  font-family: cerapro-black;
  src: url(../../assets/fonts/cerapro/CeraProBlack.otf);
}

@font-face {
  font-family: cerapro-black-italic;
  src: url(../../assets/fonts/cerapro/CeraProBlackItalic.otf);
}
